$u: 20px;
$ud2: $u/2;
$ud4: $u/4;
$ud5: $u/5;
$um2: $u*2;
$u2: $u * 2;

// $theme-color: #f4d142;
$theme-color: #ccc;
$contrast-to-theme-color: #f4d142;

.resume {
    font-family: 'Noto Serif', serif;
    background: #fff;
    max-width: 8.5in;
    max-height: 11in;
    margin: auto;
    line-height: 1.4em;

    &-InnerContainer {
        // Overflow from max-height on mobile requires this.
        background: #fff;
        padding: $u2;
    }

    &-Name {
        font-weight: bold;
        font-family: 'Open Sans';

    }

    &-Title {
        margin-bottom: $u;
    }

    &-ContactInfo {
        font-size: smaller;
    }

    &-SectionTitle {
        font-family: 'Open Sans';
        border-bottom: 2px solid #000;
        font-size: 0.9em;
        font-weight: bold;
        // margin: $u 0 $ud2 0;
        margin: 0 0 $ud2 0;
        text-transform: uppercase;
        clear: both;

        &--first {
            margin-top: 2 * $u;
        }
    }

    &-Position {
        margin-top: $u;

        &--Summary {
        }

        &-EmployerTitle {
            font-size: 0.9em;
            font-family: 'Open Sans';
            font-weight: bold;
            margin-bottom: $ud2;

            &--minor {
                font-weight: normal;
                font-style: italic;
                font-family: 'Noto Serif', serif;
            }
        }

        &-Header {
            // margin-top: $ud2;
        }

        &-Dates {
            float: right;
        }

        &-Content {
            font-size: 0.9em;
            line-height: 1.5em;

            &--full-size {
                max-width: 100%;
            }
        }

        &-ContentTitle {
            font-size: 0.8em;
            vertical-align: top;
            text-transform: uppercase;
        }

        ul {
            padding: 0 0 0 $u;
            margin: $ud2 0;
        }
    }
}

.callout {
    margin: 0 $u*3 0 $u/2;
    position: relative;
}

.embedded {
    // margin: $u/2 0 0 $u/2;
}

body {
    font-family: "Tinos", serif;
    font-size: 93%;
    background: #eee;
    padding: 0;
    margin: 0;
}

a {
  color: #000;
  text-decoration: none;
  // border-bottom: 1px solid $theme-color;

  &.no-show {
      border-bottom: none;
  }
}

h5 {
    font-size: 0.8em;
    font-family: 'Open Sans';
    font-weight: bold;
    margin: 0 0 $u/2 0;
    text-transform: uppercase;

    &.no-spacing {
        margin: 0;
    }

    &::before {
      content: "█ ";
      color: $contrast-to-theme-color;
      margin-right: 0.5em;
      -webkit-print-color-adjust: exact;
    }
}

h6 {
    font-size: 1em;
    margin: 0.3em 0 0 0;
    font-weight: normal;
    font-style: italic;
    border-top: 1px solid #bbb;
    padding-top: 0.2em;

    > .numbered {
        float: right;
    }
}

hr {
    border: 1px solid #ccc;
    margin: 1.5em 0;
}

::selection {
    background: $contrast-to-theme-color;
}

// Below this is hacky / experimental. Please don't judge too much.

.bar-chart {
    height: 100%;
    border-bottom: 1px solid #000;
    width: 12px;
    position: absolute;
    right: -40px;
    top: 0;
    display: block;
}

.bar-chart-2 {
    height: 100%;
    width: 12px;
    position: absolute;
    right: -52px;
    top: 0;
    display: block;
    font-size: smaller;
}

.rotated-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.bar {
    height: 25%;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    display: block;
    box-sizing: border-box;

    &--padded {
        padding-top: 5px;
    }
}

.export-alert {
    font-weight: bold;
    max-width: 8.5in;
    margin: auto;
    padding: 20px;
    background: #efefef;
    font-family: 'Open Sans';
    box-sizing: border-box;
    font-size: smaller;
    color: #999;
    text-align: center;

    > a {
        text-decoration: underline;
        color: #666;
    }
}

@media print{
    .noprint{
        display:none;
    }
}