$u: 20px;
$ud2: $u/2;
$ud4: $u/4;
$ud5: $u/5;
$um2: $u*2;
$u2: $u * 2;

$theme-color: #f4d142;

.resume {
    font-family: 'Noto Serif', serif;
    background: #fff;
    max-width: 8.5in;
    max-height: 11in;
    padding: $u2;
    box-sizing: border-box;
    margin: auto;
    line-height: 1.4em;

    &-OuterContainer {
        // Overflow from max-height on mobile requires this.
        background: #fff;
    }

    &-Name {
        font-weight: bold;
        font-family: 'Open Sans';

    }

    &-Title {
    }

    &-ContactInfo {
        float: right;
        font-size: smaller;
    }

    &-SectionTitle {
        font-family: 'Open Sans';
        border-bottom: 2px solid #000;
        font-size: 0.9em;
        font-weight: bold;
        margin: $u 0 $ud2 0;
        text-transform: uppercase;
        clear: both;

        &--first {
            margin-top: 2 * $u;
        }
    }

    &-Position {
        margin-top: $u;

        &--Summary {
        }

        &-EmployerTitle {
            font-size: 0.9em;
            font-family: 'Open Sans';
            font-weight: bold;
            margin-bottom: $ud2;

            &--minor {
                font-weight: normal;
                font-style: italic;
                font-family: 'Noto Serif', serif;
            }
        }

        &-Header {
            // margin-top: $ud2;
        }

        &-Dates {
            float: right;
        }

        &-Content {
            font-size: 0.9em;
            line-height: 1.6em;
            max-width: 600px;

            &--full-size {
                max-width: 100%;
            }
        }

        &-ContentTitle {
            font-size: 0.8em;
            vertical-align: top;
            text-transform: uppercase;
        }

        ul {
            padding: 0 0 0 $u;
            margin: $ud2 0;
        }
    }
}

body {
    font-family: "Tinos", serif;
    font-size: 93%;
    background: #eee;
    padding: 0;
    margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

::selection {
    background: $theme-color;
}
